body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header, footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.grid-item{
    border: solid 5px #ddd;
    border-radius: 5px;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
    align-items: center;
    
}
.grid-item img{
    width: 100%;
    display: block;
}
.grid-item:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.large{
    display: grid;
    grid-column: span 2;
}
@media (max-width: 1024px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 720px) {
    .grid-item{
        grid-template-columns: repeat(2, 1fr);
    }
}